.payment-method {
  &__name {
    padding-bottom : .5rem;
    border-bottom : 1px solid hsl(var(--text-HS), 75%);
    margin-bottom : .5rem;
  }

  &__notes {
    margin-top : -1.5rem;
  }

  &__account {
    color: var(--error-color);
  }
}
