@mixin tableStyle($string: --primary) {
  $prop: $string;
  th { background : var(#{$prop}-color) }
  tr {
    border-bottom : 1px solid hsl(var(#{$prop}-HS), 70%);
    &:hover { background : hsl(var(#{$prop}-HS), 90%) }
  }  
  &.first-column {
    td:first-child {
      background : hsl(var(#{$prop}-HS), 40%);
      color: #fff;
    }
  }
}

table {
  @include tableStyle();
  table-layout    : fixed;
  border-collapse : collapse;
  font-size       : var(--small);
  background      : #FFF;
  min-width       : 100%;

  th {
    font-family : 'Open Sans', sans-serif;
    text-align   : left;
    color        : #FFF;
    font-weight  : 700;
    border-right : 1px solid rgba(#fff, .2);
  }
  
  td {
    min-width     : 100px;
    &:nth-child(even) {
      background : rgba(#e4e4e4, .2);
    }
  }

  td, th {
    padding : 1em 1.5em;
  }
}

.table-container {
  overflow-x : auto;
  border     : 1px solid hsl(var(--text-HS), 75%);
  margin-bottom : 2em;
  min-width      : 100%;
  position : relative;
  table-layout: fixed;
}

.table--secondary { @include tableStyle(--secondary) }
.table--tertiary  { @include tableStyle(--error) }
.table--accent    { @include tableStyle(--warning) }
.table--dark      { @include tableStyle(--dark) }
