template#header
  header.border-t-14.border-green-700
    nav.container.mx-auto.flex.flex-wrap.justify-between.items-center.py-8
      div
        p(v-text="nombre")
        a(href= path_page + "")
          img.w-40(alt='logo' src= path_media + 'svg/FOR-banner-rgb.svg')
      //- menu mobile    
      .block(class='lg:hidden')
        button.flex.items-center.px-3.py-2.border.rounded.border-gray-500(class='hover:text-gray-600 hover:border-gray-600')
          svg.current-color.h-3.w-3(viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
            path(d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z' fill='gray')
      //- menu desktop
      ul.uppercase.tracking-wide.font-bold.w-full.block.flex-grow.items-center.mt-8.hidden(class='lg:flex lg:flex-initial lg:w-auto lg:mt-0')
        //- dark mode, light mode
        li.mr-8.mb-6(class='lg:mb-0')
          a.text-copy-primary(href='#' class='hover:text-gray-600')
            svg.feather.feather-moon(xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
              path(d='M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z')
        li.mr-8.mb-6(class='lg:mb-0'): a.text-copy-primary(class='hover:text-gray-600' href= path_page) DemoPage
        li.mr-8.mb-6(class='lg:mb-0'): a.text-copy-primary(class='hover:text-gray-600' href="https://nandes2062.github.io" target="_blank") Nandes
        li.mr-8.mb-6(class='lg:mb-0'): a.text-copy-primary(class='hover:text-gray-600' href="https://www.redaxo.org/slack/" target="_blank") Slack Redaxo
        li.mr-8.mb-6(class='lg:mb-0'): a.text-copy-primary(class='hover:text-gray-600' href="https://tailwindcss.com/" target="_blank") TailwindCSS
