// This file doesn't generate any css
@mixin button {
  display         : inline-block;
  padding         : 1em 2em;
  background      : var(--primary-color);
  color           : #FFF;
  margin-right    : 2rem;
  cursor          : pointer;
  text-decoration : none;
  border-radius   : .25rem;
  transition      : transform .05s;
  border          : none;
  text-align      : center;

  &:hover {
    background      : hsl(var(--primary-HS), 45%);
    text-decoration : inherit;
  }

  &:active {
    transform : scale(.99)
  }
}

@mixin button-small {
  padding : .5rem 1rem;
  font-size: var(--small);
}

@mixin button-center {
  display     : table;
  margin-left  : auto;
  margin-right : auto;
}

@mixin button-full {
  margin-right : 0;
  margin-left  : 0;
  width        : 100%;
}

@mixin button-last {
  margin-right: 0;
}

@mixin button-second {
  background : var(--secondary-color);

  &:hover {
    background : hsl(var(--secondary-HS), 50%);
  }
}

@mixin button-alert {
  background : var(--error-color);

  &:hover {
    background : hsl(var(--error-HS), 45%);
  }
}

@mixin button-cta {
  background : var(--warning-color);

  &:hover {
    background : hsl(var(--warning-HS), 55%);
  }
}

@mixin button-ghost {
  color      : var(--primary-color);
  background : none;
  border     : 1px solid;

  &:hover {
    background   : var(--primary-color);
    color        : #FFF;
    border-color : transparent;
  }
}

@mixin button-ghost-second {
  color : var(--secondary-color) ;

  &:hover {
    background : var(--secondary-color);
    color      : #FFF;
  }
}

@mixin button-ghost-alert {
  color : var(--error-color);

  &:hover {
    background : var(--error-color);
    color      : #FFF;
  }
}

@mixin button-ghost-cta {
  color : var(--warning-color);

  &:hover {
    background : var(--warning-color);
    color      : #FFF;
  }
}
