
:root {
  --primary-color: #3998d4;
  --primary-HS: 203, 64%;
  --primary-HSL: 203, 64%, 53%;
  --secondary-color: #262f42;
  --secondary-HS: 221, 27%;
  --secondary-HSL: 221, 27%, 20%;
  --accent-color: #9edaff;
  --accent-HS: 203, 100%;
  --accent-HSL: 203, 100%, 81%;
  --accent-2-color: #005fb8;
  --accent-2-HS: 209, 100%;
  --accent-2-HSL: 209, 100%, 36%;
  --text-color: #282d31;
  --text-HS: 207, 10%;
  --text-HSL: 207, 10%, 17%;
  --error-color: #ff3c32;
  --error-HS: 3, 100%;
  --error-HSL: 3, 100%, 60%;
  --warning-color: #fba905;
  --warning-HS: 40, 97%;
  --warning-HSL: 40, 97%, 50%;
  --success-color: #00bf38;
  --success-HS: 138, 100%;
  --success-HSL: 138, 100%, 37%;
  --info-color: #00b5c2;
  --info-HS: 184, 100%;
  --info-HSL: 184, 100%, 38%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color: #262f42;
    --theme-HS: 221, 27%;
    --theme-HSL: 221, 27%, 20%;

    --text-color: #fcfcfc;
    --text-HS: 0, 0%;
    --text-HSL: 0, 0%, 99%;

    --primary-color: #3998d4;
    --primary-HS: 203, 64%;
    --primary-HSL: 203, 64%, 53%;
    --secondary-color: #fcfcfc;
    --secondary-HS: 0, 0%;
    --secondary-HSL: 0, 0%, 99%;
    --accent-color: #9edaff;
    --accent-HS: 203, 100%;
    --accent-HSL: 203, 100%, 81%;
    --accent-2-color: #005fb8;
    --accent-2-HS: 209, 100%;
    --accent-2-HSL: 209, 100%, 36%;
    --error-color: #ff3c32;
    --error-HS: 3, 100%;
    --error-HSL: 3, 100%, 60%;
    --warning-color: #fba905;
    --warning-HS: 40, 97%;
    --warning-HSL: 40, 97%, 50%;
    --success-color: #00bf38;
    --success-HS: 138, 100%;
    --success-HSL: 138, 100%, 37%;
    --info-color: #00b5c2;
    --info-HS: 184, 100%;
    --info-HSL: 184, 100%, 38%;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --theme-color: #fcfcfc;
    --text-color: #282d31;
    --text-HS: 207, 10%;
    --text-HSL: 207, 10%, 17%;

    --primary-color: #3998d4;
    --primary-HS: 203, 64%;
    --primary-HSL: 203, 64%, 53%;
    --secondary-color: #262f42;
    --secondary-HS: 221, 27%;
    --secondary-HSL: 221, 27%, 20%;
    --accent-color: #9edaff;
    --accent-HS: 203, 100%;
    --accent-HSL: 203, 100%, 81%;
    --accent-2-color: #005fb8;
    --accent-2-HS: 209, 100%;
    --accent-2-HSL: 209, 100%, 36%;
    --error-color: #ff3c32;
    --error-HS: 3, 100%;
    --error-HSL: 3, 100%, 60%;
    --warning-color: #fba905;
    --warning-HS: 40, 97%;
    --warning-HSL: 40, 97%, 50%;
    --success-color: #00bf38;
    --success-HS: 138, 100%;
    --success-HSL: 138, 100%, 37%;
    --info-color: #00b5c2;
    --info-HS: 184, 100%;
    --info-HSL: 184, 100%, 38%;
  }
}

.theme--light {
  --theme-color: #fcfcfc;
  --theme-HS: 0, 0%;
  --theme-HSL: 0, 0%, 99%;
  --text-color: #282d31;
  --text-HS: 207, 10%;
  --text-HSL: 207, 10%, 17%;
  color: var(--text-color);
  background: var(--theme-color);
}
.theme--dark {
  --theme-color: #262f42;
  --theme-HS: 221, 27%;
  --theme-HSL: 221, 27%, 20%;
  --text-color: #fcfcfc;
  --text-HS: 0, 0%;
  --text-HSL: 0, 0%, 99%;
  color: var(--text-color);
  background: var(--theme-color);
}